.card {
    height: 104px;
    width: 80px;
    border-radius: 8px;
    background: var(--card-bg-color);
    border: 0.5px solid #CDCDCD;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .card:hover {
    filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.15));
  }
  
  .card.active {
    border: 0.5px solid var(--active-card-color);
    pointer-events: none;
    transition: color 0.3s;
    color: var(--main-text-color);
  }
  
  .card.is_mutched {
    color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
    pointer-events: none;
  }
  
  .card.is_timeout {
    color: var(--main-text-color);
    pointer-events: none;
  }

  .card:not(.card.is_timeout, .card.active, .card.is_mutched) .card-text {
    visibility: hidden;
    transition: visibility 0.3s;
  }

  .card-text {
    visibility: visible;
    transition: visibility 0.3s;
  }