:root {
  --main-text-color: #0A0A0C;
  --active-card-color: #ED5517;
  --card-bg-color: #fff;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}




